.cartoes-pokemon .cartao-topo {
    padding: 30px 40px 0;
}

.cartoes-pokemon .cartao-pokemon
{   display:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:10px;
    padding: 10px;
}

/*Acima adicionei recentemente*/


.cartao-pokemon {
    display: none; /*escondendo os demais cards dos pokémons. Ir para a linha 70-76 para entender.*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  /*Podemos ver vários exemplos de box-shadow nesse site: https://getcssscan.com/css-box-shadow-examples*/
    border-radius: 15px;
}

.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo {
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-pokemon .detalhes {
    color: #FFFFFF;
    display: flex; /*Usando o flex nos "detalhes" porque é o pai e os filhos serão afetados, deixando-os in line. O que eu quero é que o "#001" vá para o lado do nome do Pokémon e fique no canto direito*/
    justify-content: space-between;  /*Justify-content alinha horizontalmente.*/ 
    align-items: center;  /*Align-itemsn alinha verticalmente.*/
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-pokemon img {
    max-height: 100%;  
}

.cartao-pokemon .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 80px 30px 50px; /*Informação: é 80 em cima, 30 de cada lado e 50 embaixo.*/
    margin-top: -70px; /*Negativo porque queremos o efeito que o Pokémon fique "por cima" da div. Isso acontece porque está negativo, ao invés do espaçamento ir para baixo (padrão do margin-top), ele tira os -70px do elemento, como se fosse um efeito contrário.*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A; /*Vai fazer uma linha fina embaixo da palavra "Status" e "Habilidades".*/
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades {
    padding: 0 10px;
    width: 180px;
}
/*Chamando dessa forma com vírgula eu estou dizendo que quero as mesmas propriedades para o "Status" e para as "Habilidades". Poderia também só escrever normal, mas essa é outra forma que aprendi.*/

.cartao-pokemon .cartao-informacoes .habilidades ul li, .cartao-pokemon .cartao-informacoes .status ul li {
    border-bottom: 1px solid #C3C4C5; /*Faz a linha embaixo das habilidades listadas e dos status (HP, ataque, defesa, velocidade).*/
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

/*Podemos reparar que, inicialmente, os cartões estão um abaixo do outro e não é isso que queremos. Eles precisam ficar escondidos e só aparecerem quando forem clicados.*/

.cartao-pokemon.aberto {  /*Essa classe "aberto" vai ter o display block.*/
    display: block; /*O display block me diz que quando essa classe estiver no cartão ele vai aparecer*/
}

/*Só colocando isso até aqui não mudou nada porque a classe "aberto" está apenas no Pikachu. Sendo que por padrão o display block é para esse tipo de elemento de div. Por isso temos que dá um "display: none" em todas elas (voltemos ao ".cartao-pokemon) e vamos "esconder" todas.*/

.tipo-eletrico {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:#FCC719;
}

.tipo-grama {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:  #49D0B0;
}

.tipo-fogo {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ED8A8B;
}

.tipo-agua {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:  #76BEFE;
}

.tipo-fantasma-e-veneno {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:  #BA68C8;
}

.tipo-dragao {
    font-size:12px;
    background-color:#FFFFFF;
    opacity: 0.7;
    border-radius:10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #C29791;
}

/*Abaixo adicionei recentemente*/

.cartoes-pokemon .detalhes 
{
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartoes-pokemon .cartao-imagem
{
    width:350px;
    height:350px;

}