body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}

.pokedex {
    display: flex;
    gap: 30px; /*esse gap serve para dar um espaçamento entre os elementos*/
    padding: 30px 0;  /*O padding me dá o espaçamento interno do elemento. Fica uma distância entre o elemento e a border.*/
}

